h2 {
    text-align: center;
}


.recipe-page {
    background-color: white;
    opacity: 0.95;
    margin: auto;
    overflow: auto;
    height: 86.5vh;
    width: 60vw;
    border-radius: 0 0 5px 5px; 
}

@media only screen and (max-width: 1024px) {
    .recipe-page {
        width: 80vw;
    }
}

@media only screen and (max-width: 768px) {
    .recipe-page {
        width: 90vw;
    }
}

/* styles for recipe page part one - picture, title and information */

.recipe-page-part-one {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    height: 300px;
    width: 80%;
}

.recipe-page-image-container {
    height: 100%;
    width: 40%;
    overflow: hidden;
}

.recipe-page h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: left;
    font-size: 50px;
    color: black;
    border-bottom: dotted 2px grey;
}

.recipe-title-info {
    padding-right: 15px;
    width: 50%;
}

.recipe-cat-container {
    display: flex;
}

.recipe-cat {
    color: #f77f00;
    font-weight: 500;
}

.recipe-information {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: left;
}

.recipe-information p {
    display: flex;
    align-items: top;
}

@media only screen and (max-width: 768px) {
    .recipe-page h1 {
        font-size: 30px;
    }

    .recipe-page-part-one {
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        height: 200px;
        width: 80%;
    }
}
@media only screen and (max-width: 425px) {
    .recipe-page-part-one {
        flex-direction: column;
        height: auto;
    }

    .recipe-page-image-container {
        width: 90%;
        overflow: hidden;
    }

    .recipe-title-info {
        width: 90%;
    }

    .recipe-page h1 {
        padding-top: 10px;
        font-size: 25px;
    }
}

/* styles for ingredient list and instructions list */

.recipe-page-part-two {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
}

.recipe-page-part-two h2 {
    border-bottom: dotted 2px grey;
    padding: 5px;
    text-align: left;
}

.ingredients-list {
    margin: 0px 20px;
    width: 30%;
    text-align: left;
    border-radius: 5px;
}

.preparation-list {
    margin: 0px 20px;
    padding-right: 15px;
    width: 70%;
    text-align: left;
    border-radius: 5px;
}

ul, ol {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

ol li {
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .recipe-page-part-two {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .recipe-page-part-two {
        flex-direction: column;
    }

    .ingredients-list, .preparation-list {
        width: 90%;
    }
}


/* styles for buttons */

.edit-buttons-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 35px;
    width: 60vw;
}

.edit-buttons {
    background-color: white;
    opacity: 0.9;
    margin: 10px 0;
    padding: 5px;
    width: 250px;
    height: 33px;
    text-align: center;
    color: #f77f00;
    font-size: 30px;
    border: solid 2px #f77f00;
    border-radius: 5px;
}

.edit-buttons:hover {
    cursor: pointer;
    opacity: 1;
}

@media only screen and (max-width: 1024px) {
    .edit-buttons-container {
        width: 80vw;
    }
}

@media only screen and (max-width: 768px) {
    .edit-buttons-container {
        width: 90vw;
    }

    .edit-buttons {
        width: 25vw;
    }
}

@media only screen and (max-width: 768px) {
    .edit-buttons {
        height: 21px;
        width: 24vw;
        font-size: 18px;
    }
}