.recipe-container {
    background-color: white;
    margin: 15px 10px;
    height: auto;
    max-width: 300px;
    width: 30%;
    font-size: 20px;
    border-radius: 5px;
}

.image-container {
    height: auto;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.recipe-quick-info {
    padding: 2px 8px;
    display: flex;
    justify-content: space-between;
}

.recipe-quick-info-name {
    text-align: left;
    font-size: 1em;
    padding-right: 5px;
}

.recipe-quick-info-time {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    color: #f77f00;
}

.recipe-type-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 8px;
}

.recipe-type {
    color: #f77f00;
    font-size: 0.75em;
}

/* Media Queries */

@media only screen and (max-width: 450px) {
    .recipe-container {
        width: 40%;
        font-size: 10px;
    }
}
