/* styles for main container, secondary container and rows */

.add-recipe-main-container {
    margin: 0 auto;
    background-color: white;
    opacity: 0.95;
    height: 92.5vh;
    max-width: 950px;
    width: 70vw;
    font-size: 20px;
    overflow: auto;
}

.add-recipe-main-container h1 {
    margin-top: 0;
    padding: 20px;
    color: black;
}

.add-recipe-individual-row {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-size: 1.25rem;
}

.add-recipe-divider {
    opacity: 0.6;
    margin: 0 100px;
    border-bottom: dotted 2px #ffbb6e;
}

@media only screen and (max-width: 768px) {
    .add-recipe-main-container {
        width: 85vw;
        font-size: 17px;
    }
}

@media only screen and (max-width: 425px) {
    .add-recipe-main-container h1 {
        font-size: 45px;
    }

    .add-recipe-main-container {
        width: 100vw;
    }

    .add-recipe-divider {
        margin: 0 50px;
    }
}

/* styles for container with key and value pair */

.add-recipe-key {
    width: 20%;
    min-width: 85px;
    text-align: left;
}

.add-recipe-value {
    width: 60%;
    text-align: left;
}

.add-recipe-value input[type=text] {
    width: 80%;
    font-size: 1.25rem;
}

.add-recipe-value input[type=number] {
    margin-right: 10px;
    width: 10%;
    font-size: 1.25rem;
}

@media only screen and (max-width: 425px) {
    .add-recipe-key, .add-recipe-value, .add-recipe-value input[type=text], .add-recipe-value input[type=number] {
        font-size: 15px;
    }
}

/* styles for image */

.add-recipe-image-container {
    position: relative;
    margin-top: 10px;
    width: 290px;
    height: 200px;
}

.add-recipe-image {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-recipe-image-container:hover > .add-recipe-image {
    z-index: 0;
    opacity: 30%;
    cursor: pointer;
}

.add-recipe-image-delete {
    margin: 50px 100px;
    position: absolute;
    font-size: 100px;
    color: grey;
}

.add-recipe-image-container:hover > .add-recipe-image-delete {
    cursor: pointer;
}

/* styles for container with checkboxes */

.add-recipe-main-checkbox-container {
    display: flex;
    justify-content: space-between;
    min-width: 60%;
    max-width: 90%;
}

.add-recipe-checkbox-container {
    padding: 0 15px;
    width: 30%;
    max-width: 180px;
    text-align: left;
}

.add-recipe-checkbox {
    font-size: 1rem;
    margin: 5px 0 3px 0;
    border-top: dotted 2px grey;
}

@media only screen and (max-width: 1024px) {
    .add-recipe-checkbox-container, .add-recipe-checkbox {
        width: 90%;
        font-size: 0.96rem;
    }
}

@media only screen and (max-width: 768px) {
    .add-recipe-main-checkbox-container {
        width: 80%;
    }
}

@media only screen and (max-width: 425px) {
    .add-recipe-main-checkbox-container {
        width: 90%;
    }

    .add-recipe-checkbox-container, .add-recipe-checkbox {
        font-size: 0.9rem;
    }
}

/* styles for ingredients */

.add-recipe-ingre-container {
    width: 60%;
    text-align: left;
}

.add-recipe-new-ingre {
    display: flex;
    align-items: center;
}

.add-recipe-new-ingre  input[type=number] {
    margin-right: 10px;
    width: 10%;
    font-size: 1.25rem;
}

.add-recipe-new-ingre input[type=text] {
    width: 36%;
    font-size: 1.25rem;
}

.add-recipe-new-ingre select {
    margin-right: 10px;
    font-size: 1.25rem;
}

#add-button {
    font-size: 1.5rem;
    margin-left: 10px;
}

#add-button:hover {
    color: #f77f00;
    cursor: pointer;
}

.add-recipe-ingre-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.add-recipe-ingre-list-item {
    display: flex;
    align-content: center;
    margin: 10px 4px 5px 0;
    padding-right: 5px;
    width: fit-content;
    font-size: 1rem;
    border: solid 1px grey;
    border-radius: 5px;
}

.add-recipe-ingre-icon {
    margin: auto;
    padding: 5px 0;
}

.add-recipe-ingre-icon:hover {
    cursor: pointer;
    color: #f77f00;
}

@media only screen and (max-width: 425px) {
    .add-recipe-new-ingre  input[type=number], .add-recipe-new-ingre input[type=text], .add-recipe-new-ingre select {
        font-size: 15px;
    }
}

/* styles for instructions */

.add-recipe-instructions-key {
    padding-top: 10px;
    width: 20%;
    min-width: 85px;
    text-align: left;
}

.add-recipe-instructions {
    width: 60%;
    text-align: left;
}

.add-recipe-new-instructions {
    display: flex;
    align-content: flex-start;
    text-align: left;
}

.add-recipe-new-instructions textarea {
    margin: 0 4px 5px 0;
    width: 82%;
    max-width: 74%;
    font-size: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: dotted 1px grey;
}

.add-recipe-instructions-list-container {
    margin-bottom: 10px;
    border-radius: 5px;
}

.add-recipe-instructions-list-row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;
}

.add-recipe-instruction-number {
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: center;
    margin: 0 0 5px 0;
    padding: 5px;
    width: 5%;
    font-size: 0.75rem;
    border-bottom: dotted 1px grey;
}

.add-recipe-instruction-item {
    display: flex;
    align-content: center;
    margin: 0 4px 5px 0;
    width: 82%;
    font-size: 0.75rem;
    border-bottom: dotted 1px grey;
}

.add-recipe-edit-instruction {
    margin: auto;
    display: flex;
    align-content: center;
}

.add-recipe-edit-button:hover {
    color: #f77f00;
    cursor: pointer;
}

@media only screen and (max-width: 425px) {
    .add-recipe-instructions-key {
        padding-top: 12px;
        font-size: 15px;
    }
}

/* styles for notes */
.add-recipe-value textarea {
    width: 80%;
    max-width: 80%;
    height: auto;
}

/* styles for save recipe button */
.add-recipe-form-button-container {
    display: flex;
    justify-content: center;
}

.add-recipe-form-button {
    background-color: white;
    opacity: 0.9;
    margin: 20px 10px;
    padding: 5px;
    width: 250px;
    text-align: center;
    color: #f77f00;
    font-size: 1.5rem;
    border: solid 2px #f77f00;
    border-radius: 5px;
}

.add-recipe-form-button:hover {
    background-color: #f77f00;
    opacity: 0.9;
    color: white;
    cursor: pointer;
    opacity: 1;
}